{% extends 'base.html' %}
{% block title %}Courses created by you{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
<h2>Courses as TA by you</h2>
    {% for course in courses %}
    <a href="{% url 'moderator' course %}">{{course.name}}</a>
        <br>
    {% empty %}
    <p>No Courses as TA by you.</p>
    {% endfor %}
{% else %}
<h2>Please <a href="{% url 'login' %}">Log In</a> or <a href="{% url 'signup' %}">Sign Up</a> </h2>
{% endif %}
{% endblock content %}