{% extends 'base.html' %}
{% block title %}Courses created by you{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
<h2>Courses created by you</h2>
    {% for course in courses %}
		<a href="{% url 'instructor' course %}">{{course}}</a>
        <br><br>
    {% empty %}
    <p>No Courses created by you.</p>
    {% endfor %}
    <p><a href="{% url 'home' %}"> Go to Home page </a></p>
{% else %}
<h2>Please <a href="{% url 'login' %}">Log In</a> or <a href="{% url 'signup' %}">Sign Up</a> </h2>
{% endif %}
{% endblock content %}