{% extends 'base.html' %}
{% block title %}Create Course{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
<h2>Create Course</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
                    <label>Name of the Course:</label>
                        {{ form.name }} 
                        <br><br>
                    <label>Course passcode:</label>
                        {{ form.coursecode }}
        <br><br>
        <button type="submit" >Create</button>
        <button type="reset" >Reset</button>
    </form>
    <p><a href="{% url 'home' %}"> Go to Home page </a></p>
{% else %}
<h2>Please <a href="{% url 'login' %}">Log In</a> or <a href="{% url 'signup' %}">Sign Up</a> </h2>
{% endif %}
{% endblock content %}