{% extends 'base.html' %}
{% block title %}Upload Marks{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
<h2>Upload csvfile for {{ass}}</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <label>File:</label>
            {{ form.marksfile }} 
            <br>
    <br>
    <button type="submit" >Upload</button>
    <button type="reset" >Reset</button>
</form> 
<br><br>
{% else %}
<h2>Please <a href="{% url 'login' %}">Log In</a> or <a href="{% url 'signup' %}">Sign Up</a> </h2>
{% endif %}
{% endblock content %}